In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("train.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Cabin        202 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.5+ KB

### Encoding of categorical variables

In [4]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
data['Sex']=encoder.fit_transform(data['Sex'])
data['Embarked']=encoder.fit_transform(data['Embarked'])

### checking for null values

In [5]:
data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

Clearly,Cabin feature have more than 75% as null values and needed to be dropped

### Dropping insignificant attributes

In [6]:
data=data.drop(['Cabin','PassengerId','Name','Ticket'],axis=1)
data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [7]:
data.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

### Function definition that calculates model accuracy score for Pclass as DV and others as IDV

In [8]:
def knn(a,b):
    from sklearn.model_selection import train_test_split
    from sklearn.metrics import confusion_matrix
    from sklearn import neighbors
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)
    sc1=0
    for k in range(1,268):
        knn=neighbors.KNeighborsClassifier(n_neighbors=k)
        sc=knn.fit(X_train,y_train).score(X_test,y_test)
        y_pred=knn.predict(X_test)
        confusion_matrix(y_test,y_pred)
        m=max(sc,sc1)
        sc1=m
    return sc1

### Pclass vs  remaining attributes

In [9]:
y=data['Pclass']
X=data.drop(['Pclass'],axis=1)
p1=knn(X,y)
p1

0.8913857677902621

*Accuracy is 89.1%*

### Parch vs remaining attributes

In [10]:
y=data['Parch']
X=data.drop(['Parch'],axis=1)
p2=knn(X,y)
p2

0.797752808988764

*Accuracy is 79.77%*

###  SibSp vs remaining attributes

In [14]:
y=data['SibSp']
X=data.drop(['SibSp'],axis=1)
p2=knn(X,y)
p2

0.7303370786516854

*Accuracy is 73.03%*

### Embarked vs remaining attributes

In [11]:
y=data['Embarked']
X=data.drop(['Embarked'],axis=1)
p3=knn(X,y)
p3

0.7790262172284644

*Accuracy is 77.9%*

### Gender vs remaining attributes

In [16]:
y=data['Sex']
X=data.drop(['Sex'],axis=1)
p4=knn(X,y)
p4

0.6928838951310862

*Accuracy is 69.28%*

### Survived vs remaining attributes

In [13]:
y=data['Survived']
X=data.drop(['Survived'],axis=1)
p5=knn(X,y)
p5

0.704119850187266

*Accuracy is 70.4%*